.glass {


    background: rgba(255, 255, 255, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.colornav {
    background: rgba(255, 159, 159, 0.829);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 159, 159, 0.829);

}

.grow:hover {
    color: #fff;
}

.grow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width .8s;

}

.grow:hover::before,
.grow.active::before {
    width: 100%;
}

.grow {
    margin: 0 12px;
}


.grow {
    position: relative;
    margin: 12px;
    padding-bottom: 3px;
    color: #d9d9d9;
    transition: all .8s;


}

.inline1 {

    display: inline;
}

.arrutexto {

    text-align: justify;
    text-justify: inter-word;

}

.direita {
    text-align: right;
}


